/* CUSTOM-PROPS */
:root {
  --blue: #6943ff;
  --white: #ffffff;
  --grey: #f4f4f4;
  --cube: #5a537b;
  --black: #353535;
}

.dark {
  --white: #273549;
  --grey: #1F2937;
  --cube: #ccc1ff;
  --black: #ffffff;
}

/* LOADER  */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #273549;
  transition: opacity 0.2s ease;
}

.loader-wrapper--none {
  opacity: 0;
  pointer-events: none;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 var(--blue);
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--blue);
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 var(--blue);
  }
  50% {
    box-shadow: 0 0 0 var(--blue);
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--blue);
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--blue);
  color: var(--black);
  font-family: "Inter", "Arial", sans-serif;
  font-size: 21px;
  line-height: 1.15;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  --moz-appearance: textfield;
}

/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed white;
  outline-offset: 3px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.box__header {
  padding: 26px;
  flex-grow: 1;
}

.header {
  background-color: var(--blue);
}

.header__title {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: -4.5%;
  color: white;
  text-align: center;
}

.form__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__value {
  max-width: 351px;
  overflow-x: scroll;
  text-align: center;
  font-size: 87px;
  font-weight: 800;
  line-height: 0.4;
  padding: 34px;
  margin-bottom: 39px;
  border: 3px solid #b295ff;
  border-radius: 8px;
  background-color: transparent;
  color: white;
}

.form__value:focus {
  outline: none;
}

.form__button {
  font-size: 24px;
  line-height: 1.5;
  color: #3d3d3d;
  background-color: white;
  box-shadow: 0px 1px 2px 0px #0000000D;
  border: 0;
  border-radius: 10px;
  min-width: 176px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  cursor: pointer;
}

.main {
  background-color: var(--grey);
  border-radius: 10px;
  padding: 15px;
}

.main * {
  transition: color 0.1s ease,
  background-color 0.1s ease;
}

.main__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main__item {
  background-color: var(--white);
  border-radius: 7px;
  min-height: 140px;
  padding: 38px;
}

.main__item:not(:last-child) {
  margin-bottom: 10px;
}

.item__inner {
  text-align: center;
  overflow: hidden;
}

.item__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 14px;
  color: var(--cube);
  font-weight: 600;
  line-height: 1;
}

.item__info {
  margin: 0;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.item__info--show {
  opacity: 1;
}
